@{
    //resources
    Html.AppendScriptParts("~/Scripts/jquery.unobtrusive-ajax.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-1.7.1.min.js");
}
<!DOCTYPE html>
<html>
<head>
    <title>@Html.Title(true)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.MetaDescription())" />
    <meta name="keywords" content="@(Html.MetaKeywords())" />
    @Html.CssFiles(ResourceLocation.Head)
    @Html.Scripts(ResourceLocation.Head)
    @Html.CanonicalUrls()
    @*Favicon - upload favicon.ico file to the root directory*@
    @Html.Action("Favicon", "Common")
    @Html.Widget("head_html_tag")
</head>
<body>
    @Html.Widget("body_start_html_tag_after")
    @RenderBody()
    @Html.Widget("body_end_html_tag_before")
    @Html.CssFiles(ResourceLocation.Foot)
    @Html.Scripts(ResourceLocation.Foot)
</body>
</html>
