@model TopicModel
@using Aaron.Admin.Models.Topics
@{    
    //page title
    ViewBag.Title = "Chỉnh sửa chủ đề -" + Model.SystemName;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
            Chỉnh sửa chủ đề - @Model.SystemName @Html.ActionLink("(Trở về danh sách chủ đề)", "List")
        </div>
        <div class="options">
            <input type="submit" name="save" class="t-button" value="Lưu" />
            <input type="submit" name="save-continue" class="t-button" value="Lưu và tiếp tục" />
            <span id="topic-delete" class="t-button">Xóa</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("topic-delete")